* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    display: flex;
    height: 100vh;
 
    
}
.slid{
    width:18%;
    position: relative;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    animation: anime calc(0.5s * var(--i)) ease-in-out

}

@keyframes anime{
    0%{
        transform: translateY(-100vh);
    }
}

.slid:hover{
width: 50%;
}
.slid img{
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out 0.5s;
}
.slid:hover img{
    transform: scale(2) rotate(10deg);

}
.title{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align:center;
    background-color: rgba(0,0, 0, 0.4);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.slid:hover .title{
display: flex;
}
/* good luck :) */









